.button--open {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: transparent;
}
.content--form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 20px;

  background-color: #fff;
  border-radius: 8px 8px 0 0;

  animation: fadeUp 0.3s ease-in-out;
}
@keyframes fadeUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeDown {
  animation: fadeDown 0.3s ease-in-out;
}
@keyframes fadeDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.content--form__close--button--box {
  text-align: right;
}

.close--button--box__close--button {
  transform: rotate(45deg);

  background-color: transparent;
  border: none;
}
.form__input--section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.input--section__label {
  padding-bottom: 5px;
}
.input--section__input {
  padding: 5px 7px;

  border-color: #141414;
  border-width: 0 0 1px 0;
}
.form__button--submit {
  width: 100%;
  padding: 7px;

  background-color: #141414;
  border-color: transparent;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}
